<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <!-- add content here -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>subject</h4>
                            <div class="card-header">
                                <div class="input-group">
                                    <div class="input-group-btn" style="padding-left: 95%;">
                                        <button class="btn btn-primary" (click)="addSubject('new')">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4></h4>
                            <div class="card-header-form">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" (blur)="searchfun($event);" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" ><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>subject Name</th>
                                        <th>subject Code</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr *ngFor="let m of getSubjectData">
                                        <td>{{m.subject_name}}</td>
                                        <td>{{m.subject_code}}</td>
                                        <td>{{m.description}}</td>
                                        <td>
                                            <a style="cursor:pointer;color: darkorange;" (click)="addSubject(m._id)"><i class="fas fa-edit"></i></a>
                                            <a style="cursor:pointer;color: red;margin-left: 10%;" (click)="deleteSubject(m._id)"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>