<!-- Main Content -->
<div class="main-content">
  <section class="section">
    <div class="section-body">
      <!-- add content here -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>{{id == "new" ? "Add User" : "Edit User"}} </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 ">
          <div class="card">
            <form [formGroup]="rForm" (ngSubmit)="addUser(rForm.value)" class="form-horizontal">
              <div class="card-body">
                <div class="form-group">
                  <label>UserName</label>
                  <input type="text" class="form-control" formControlName="username">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
                <div class="form-group mb-0">
                  <label>Password</label>
                  <input type="text" class="form-control" formControlName="password">
                </div>

                <div class="form-group mb-0">
                  <label for="selectRoles">Select a role:</label>
                  <select class="form-control" id="selectRole" [(ngModel)]="selectedRole" formControlName="role">
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                  </select>
                </div>

                
              </div>
              <div class="card-footer text-right">
                <button class="btn btn-primary">Submit</button>
                <button class="btn btn-danger" style="margin-left: 5px;" routerLink="/user/user">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>