<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-body">
            <!-- add content here -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>User</h4>
                            <div class="card-header">
                                <div class="input-group">
                                    <div class="input-group-btn" style="padding-left: 95%;">
                                        <button class="btn btn-primary" (click)="addUser('new')">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr *ngFor="let m of getUserData">
                                        <td>{{m.username}}</td>
                                        <td>{{m.email}}</td>
                                        <td>
                                            <a style="cursor:pointer;color: red;margin-left: 10%;" (click)="deleteUser(m._id)"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>